*{

    list-style-type: none;
}
body{
    margin: 5px;
}

.container {
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .forecast{
    background-color: dimgray;
  }
  

  .forecast-item li{
    background-color: darkgreen; 
    margin: 8%;
    padding: 3%;
    border-radius: 20%;
    width: 80%;
    
  }
  .forecast-item{
   
    
    width: 20%;
    margin:5%;

  }

 .city-name{
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: bold;
    margin: 8%;
 }